# Project exclude paths
/target/
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.vscode/settings.json
/.idea/vcs.xml
